.header {
  text-align: center;
}

.section {
  outline: 2px solid transparent;

  &.focused {
    box-shadow: 0 0 8px fuchsia;
    outline-color: fuchsia;
  }
}

.stickyTriggerArea {
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
}

.triggerArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px 16px;
  margin-bottom: 24px;

  & > :nth-child(1) {
    justify-self: right;
  }

  & > :nth-child(2) {
    justify-self: center;
  }
}
