.header {
  text-align: center;
}

.triggerArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px 16px;
  margin-bottom: 24px;

  & > :nth-child(1) {
    justify-self: right;
  }

  & > :nth-child(2) {
    justify-self: center;
  }
}
