.component {
  border: 2px dashed black;
  box-sizing: border-box;
  height: 240px;

  .uploadArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .selectPhotosButton {
      cursor: pointer;
      margin-bottom: 8px;
      border-radius: 4px;
      padding: 16px 64px;
      background-color: black;
      color: white;
    }

    .progressBar {
      overflow: hidden;
      border-radius: 16px;
      width: 240px;
      height: 28px;
      background-color: gray;

      .progress {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        transition: width 100ms;
      }
    }
  }
}
