@import "../../common/variables";

@grid-gap-size: 8px;
@rows-shown: 2;
@columns-in-a-row: 5;
@column-height: 225px;

.component {
  overflow-y: scroll;
  width: 100%;
  height: calc(@column-height * @rows-shown + @grid-gap-size);

  .gallery {
    display: grid;
    grid-template-columns: repeat(@columns-in-a-row, 1fr);
    grid-template-rows: auto;
    gap: @grid-gap-size;
    width: 100%;

    .image {
      cursor: pointer;
      position: relative;
      height: @column-height;
      font-size: 0; // ._.

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &.selected {
        cursor: unset;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          box-sizing: border-box;
          border: 4px solid @focus-color;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
