.component {
  overflow-y: scroll;
  max-height: 240px;

  .message {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 16px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
