* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  background-color: #F5F5F5;
  font-family: 'IBM Plex Mono', monospace;
}

h1, h2, h3, p {
  margin: unset;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #AFD2D3;
  text-shadow: 0 0 16px #BFF8F9;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  padding-left: 30px;
  margin-bottom: 8px;
  color: #5B5B5B;
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333333;
}

p {
  font-size: 14px;
  margin-bottom: 4px;
}

ul {
  margin: unset;
  margin-block-end: 8px;
  padding: unset;
  padding-inline-start: 24px;
  font-size: 12px;
  color: #333333;
}

li {
  padding: 5px 0 10px 0;
}
