.component {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  font-size: 0;

  &, .reactivated {
    background-color: #5B5B5B;
    background-image: url("camera-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.canvas, .component .reactivated {
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 360px;
}
