.component {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .button {
    cursor: pointer;
    padding: 4px 12px;
    background-color: #AFD2D3;
    color: #5B5B5B;
    border-radius: 4px;
    margin-left: 8px;

    &:not(:last-of-type) {
      margin-right: 8px;
    }

    &.disabled {
      cursor: unset;
      background-color: gray;
    }

    &.focused {
      text-decoration: underline;
      transform: scale(1.1);
    }
  }
}
